---
title: Home
layout: default
---

	<div class="main">
		<div class="section section-basic">
	    	<div class="container">
            	<div class="row">
                	<div class="col-lg-12">
                        <div class="title text-center">
                            <h2>Selamat Datang di Creative Commons Indonesia</h2>
                        </div>
                    </div>
		</div>
		<div class="row">
			<div class="col-lg-8">	
				<div class="row">
					<div class="col-lg-12">
						<div class="title text-center">
							<h2>Artikel Terbaru</h2>
						</div>
					</div>
				</div>
				<div class="row">
				{% for post in site.posts limit:10 %}
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4">
								<img src="{{ post.img }}" class="img-responsive center-block" style="max-height:160px">
							</div>
							<div class="col-md-8">
								<a href="{{ post.url | prepend: site.baseurl }}"><h4>{{ post.title }}</h4></a>
								<i class="fa fa-clock-o"></i> <a>{{ post.date | date: "%-d %b %Y" }}</a>
								<p>{{ post.content | strip_html | truncatewords:20 }}</p>
							</div>
						</div>
						<hr>
					</div>
				{% endfor %}
				</div>
			</div>
			<div class="col-lg-4">
				
				<div class="col-lg-12">
					<div class="title text-center">
						<h2>Artikel pilihan</h2>
					</div>
				</div>
				
				{% for post in site.posts %}
				{% if post.featured %}
				<div class="card" style="margin-bottom: 15px;">
					<div class="card-image">
						<img src="{{ post.img }}" class="img-responsive center-block">
					</div>
					<div class="card-description text-center">
						<a href="{{ post.url | prepend: site.baseurl }}"><h4>{{ post.title }}</h4></a>
					</div>
				</div>
				{% endif %}
				{% endfor %}
				<hr>
				<a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/CC_ID">Tweets oleh CC_ID</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>	
		<hr>
            	<div class="row">
                	<div class="col-lg-12">
				<div class="form-group">
					<form action="/search/" method="get">
						<input type="text" id="search_box" placeholder="Cari" name="query" class="form-control">
						<!-- <input type="submit" value="Cari"> -->
					</form>
				</div>
			</div>
		</div>
		<hr>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- cc mainpage -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-4477641271764989"
		     data-ad-slot="8217442556"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		<hr>	
        	</div>
		</div>
	</div>
