---
title: Home
layout: default
---

	<div class="main">
		<div class="section section-basic">
	    	<div class="container">
            	<div class="row">
                	<div class="col-lg-12">
                        <div class="title text-center">
                            <h2>Tentang Creative Commons Indonesia</h2>
                        </div>
                    </div>
		</div>
            	<div class="row">
                    <div class="col-lg-6 col-lg-offset-3">    
                        <div class="embed-responsive embed-responsive-16by9">
                        	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tYODFSWTD8k"></iframe>
				<center><small>Video perkenalan CCID oleh <a href="//jakartabeat.net">Jakartabeat.net</a></small></center>
                        </div>
                    </div>
                </div>
		<div class="row">
                    <div class="col-lg-12">
                        <h4>Creative Commons Indonesia (CCID) adalah salah satu afiliasi Creative Commons Internasional yang beroperasi di Indonesia.<br/>CCID menyediakan hasil terjemahan paket lisensi Creative Commons dalam Bahasa Indonesia yang sesuai dengan Undang-Undang No. 28 Tahun 2014 tentang Hak Cipta.</h4>
                    </div>
                </div>
                <hr>
            	<div class="row">
                	<div class="col-lg-12">
				<div class="form-group">
					<form action="/search/" method="get">
						<input type="text" id="search_box" placeholder="Cari" name="query" class="form-control">
						<!-- <input type="submit" value="Cari"> -->
					</form>
				</div>
			</div>
		</div>
		<hr>
            	<div class="row">
                	<div class="col-lg-12">
                        <div class="title text-center">
                            <h2>Blog</h2>
                        </div>
                    </div>
                </div>
            	<div class="row">
                    <div class="col-md-3">
                        <a href="/sobatccid/"><h3 class="text-center">Sobat CCID</h3></a>
                        {% for post in site.categories['Sobat CCID'] limit:5 %}
                        <a href="{{ post.url }}" class="btn-link"><h5>{{ post.title }}</h5></a>
                        <hr>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <a href="/berita/"><h3 class="text-center">Berita</h3></a>
                        {% for post in site.categories['Berita'] limit:5 %}
                        <a href="{{ post.url }}" class="btn-link"><h5>{{ post.title }}</h5></a>
                        <hr>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <a href="/kajian/"><h3 class="text-center">Kajian</h3></a>
                        {% for post in site.categories['Kajian'] limit:5 %}
                        <a href="{{ post.url }}" class="btn-link"><h5>{{ post.title }}</h5></a>
                        <hr>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
			<a href="/acara/"><h3 class="text-center">Acara</h3></a>
                        {% for post in site.categories['Acara'] limit:5 %}
                        <a href="{{ post.url }}" class="btn-link"><h5>{{ post.title }}</h5></a>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
		<hr>
		<div class="row">
                	<div class="col-lg-6 col-lg-offset-3">
				<a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/CC_ID">Tweets oleh CC_ID</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
            </div>
		</div>
	</div>
