     <footer class="footer">
	    <div class="container">
	        <nav class="pull-left">
	            <ul>
			<li><a href="/faq/">FAQ</a></li>
			<li><a href="/hubungikami/">Hubungi Kami</a></li>
			<li><a href="https://www.facebook.com/CreativeCommonsIndonesia"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
			<li><a href="https://twitter.com/CC_ID"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
			<li><a href="/feed.xml"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>
	            </ul>
	        </nav>
	        <div class="copyright pull-right">
	            2012-2016 Creative Commons Indonesia | CC BY
	        </div>
	    </div>
	</footer>
