<style>
  .main {
	margin-top: 50px;
  }
</style>  

    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://ccid.siteleaf.net/">
                    <div class="logo-container">
                        <div class="logo">
                            <img src="/assets/img/logoputih.png" alt="Creative Commons Indonesia" class="img-responsive" width="150">
                        </div>
                    </div>
                </a>
            </div>
    
            <div class="collapse navbar-collapse" id="navigation-index">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/tentang.html" target="_blank">
                            Tentang
                        </a>
                    </li>
                    <li>
                        <a href="/lisensi.html" target="_blank">
                            Lisensi
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Blog <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sobat CCID</a></li>
                            <li><a href="#">Berita</a></li>
                            <li><a href="/kajian.html">Kajian</a></li>
                            <li><a href="#">Acara</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
