---
layout: default
---

{% assign author = site.data.authors[page.author] %}
	<div class="main">
		<div class="section section-basic">
	    	<div class="container">
		{% capture category_breadcrumbs %}
			{{ page.categories | first }}
		{% endcapture %}
		<small><a href="/index.html">Beranda</a>/<a href="https://creativecommons.or.id/{{ category_breadcrumbs | downcase | remove: " " }}/">{{ category_breadcrumbs }}</a>/{{ page.title }}</small>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="text-center article-title">
                            <h2>
                                {{ page.title }}
                            </h2>
                        </div>
                            {{ content }}
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                    <h5 style="display: inline;">Tags:</h5>
                                    {% for tag in page.tags %}
                                        <button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
                                    {% endfor %}
                            </div>                       
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h5>Oleh: {{ author.name }}</h5>
                        {{ page.date | date: "%-d %b %Y" }}
                        <hr>
                        <h5>Kategori:</h5>
                        {% for category in page.categories %}
                        <button class="btn btn-white btn-xs" type="button">{{ category }}</button>
                        {% endfor %}
                        <hr>
                        <h5>Berita Terbaru</h5>
			<ul>
                        {% for post in site.categories['Berita'] limit:5 %}
			<li><a href="{{ post.url }}" class="btn-link">{{ post.title }}</a></li>
                        {% endfor %}
	 		</ul>
			<hr>
			<h5>Bagikan di:</h5>
			<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a>
			<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a>
			</div>
		</div>
{% if page.comments %}
<div class="row">
<div class="col-lg-9">
		
	<div id="disqus_thread"></div>
	<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = '//creative-commons-indonesia.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
</div>
{% endif %}
        	</div>
		</div>
	</div>
